DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=

THROTTLE_TTL=
THROTTLE_LIMIT=

TYPEORM_DEBUG=
PORT=
NODE_ENV=

REDIS_HOST=
REDIS_PORT=
CACHE_TTL=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=


COGNITO_USER_POOL_ID_WEB=
COGNITO_CLIENT_ID_WEB=
COGNITO_REGION_WEB=

COGNITO_USER_POOL_ID_MOBILE=  
COGNITO_CLIENT_ID_MOBILE=
COGNITO_REGION_MOBILE=