node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env.production
.env.test
.env.development

# macOS
.DS_Store
.env
android 
ios

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# notifications
google-services.json
