@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-cool-gray-800 bg-cool-gray-50;

    word-break: break-word;
  }

  body,
  p,
  label,
  span {
    @apply font-roboto text-sm sm:text-base;
  }

  header {
    @apply shadow-header;
  }

  small {
    @apply text-sm font-roboto;
  }

  button {
    @apply text-sm font-robotoMedium;
  }

  a {
    @apply text-sm sm:text-base font-robotoBold text-turquoise hover:text-turquoise-700 active:text-turquoise-800 focus:outline-0 cursor-pointer;
  }

  h1 {
    @apply text-lg sm:text-4xl font-titilliumBold;
  }

  h2 {
    @apply text-sm sm:text-xl font-titilliumBold;
  }

  h3 {
    @apply text-sm sm:text-xl font-roboto font-semibold;
  }

  h4 {
    @apply text-base font-titilliumBold;
  }

  h5 {
    @apply text-sm font-titilliumBold;
  }

  nav {
    @apply font-titilliumBold;
  }

  input[type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply text-cool-gray-900 rounded-md border border-cool-gray-200 py-2.5 px-3 bg-white max-w-[37rem] h-fit cursor-text outline-0 shadow-sm text-sm font-roboto font-normal focus:ring-indigo-500 focus:ring-1 focus:border-indigo-500;

    padding-inline: 0.813rem;
    word-break: break-word;
  }

  textarea {
    @apply min-h-[7rem] max-w-full;
  }

  input::placeholder {
    @apply text-cool-gray-500;
  }

  input:disabled {
    @apply bg-cool-gray-200 text-cool-gray-500 cursor-auto;
  }

  input#search__filter {
    @apply pl-10 w-4/5 min-w-[9rem] max-w-lg;
  }

  form {
    @apply flex flex-col gap-6;
  }
}

@layer components {
  .helper-text {
    @apply text-sm font-roboto text-cool-gray-500;
  }

  .btn {
    @apply flex items-center justify-center rounded-md min-w-fit w-20 py-2.5 gap-x-2 whitespace-pre-wrap font-medium text-xs sm:text-sm font-robotoMedium disabled:opacity-50;

    padding-inline: 17px;
  }

  .btn-primary {
    @apply btn text-white bg-turquoise hover:bg-turquoise-700 active:bg-turquoise-800 focus:shadow-yellow focus:outline-0;
  }

  .btn-danger {
    @apply btn text-white bg-red hover:bg-red-700 active:bg-red-800 focus:shadow-yellow focus:outline-0;
  }

  .btn-secondary {
    @apply btn text-white bg-cool-gray focus:shadow-yellow focus:outline-0;
  }

  .btn-outline-secondary {
    @apply btn border border-cool-gray-300 text-cool-gray-900 bg-white hover:bg-cool-gray-50 active:bg-cool-gray-100 focus:shadow-blue focus:outline-0;
  }

  .btn-text-primary {
    @apply btn text-turquoise hover:text-turquoise-700 active:text-turquoise-800 focus:shadow-yellow focus:outline-0;
  }

  .btn-text-danger {
    @apply btn text-red hover:text-red-700 active:text-red-800 focus:shadow-yellow focus:outline-0;
  }

  .input-style {
    @apply border border-cool-gray-200 rounded-md shadow-sm;
  }

  .logo {
    @apply bg-cool-gray-700 rounded-full bg-cover object-cover aspect-square;
  }

  .menu-icon {
    @apply flex-shrink-0 h-5 w-5;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf');
  font-display: swap;
}

.rdt_TableWrapper {
  @apply pb-2 !important;
}

/* Overrride default overflow for datatables to allow popovers */
.rdt_TableWrapper div {
  overflow-x: initial !important;
  overflow-y: initial !important;
}

.rdt_TableWrapper > div:first-of-type {
  overflow: scroll !important;
  /* added for action menu to be visible without scrolling */
  padding-bottom: 7rem !important;
}

/* data table overrides */
.rdt_TableHeadRow > .rdt_TableCol {
  @apply bg-cool-gray-50 text-sm text-cool-gray-900 border-cool-gray-300;
}

.rdt_TableHeadRow > .rdt_TableCol > div {
  @apply py-3.5 pl-2 pr-3 font-bold;
}

.rdt_TableBody > .rdt_TableRow > .rdt_TableCell > div {
  @apply whitespace-pre-wrap sm:py-6 py-3 px-2 text-xs sm:text-sm font-normal text-cool-gray-700;
}

.rdt_TableBody > div:last-of-type {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.rdt_TableCol_Sortable svg {
  @apply ml-1;
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
}

.rdt_Pagination {
  border-top: none !important;
}

.rdt_Pagination > div > svg {
  display: none;
}

.rdt_Pagination > div > div > svg {
  display: none;
}

/* toast overrides */
.Toastify__toast {
  @apply font-roboto !important;
  @apply sm:text-sm lg:text-base text-xs;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-turquoise-500 !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-red-500 !important;
}

/* react select overrides */
.reactselect__control {
  @apply rounded-md text-sm font-roboto font-normal focus:border-indigo-500 focus:border-2 border border-cool-gray-200 !important;
}

.reactselect__value-container {
  @apply py-1.5 px-3 !important;
}

.reactselect__loading-indicator {
  @apply flex items-center justify-center max-w-[4rem] m-0 !important;
}

.reactselect__loading-indicator > span {
  @apply h-1.5 w-1.5 ml-1;
}

.reactselect__multi-value__remove > svg {
  @apply w-4 h-4 text-base;
}
